.code-line {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: rgb(45, 45, 45);
    box-sizing: border-box;
    align-items: flex-start;
  }
  
  .dragbox {
    display: contents;
  }
  
  .code-block {
    font-family: monospace;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    user-select: none;
    font-weight: bolder;
  }
  
  .dragging {
    opacity: 0.5;
  }
  
  .correct {
    background-color: green;
  }
  
  .placeholder {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  
  #drag h2 {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #drag{
    padding-top: 5%;
    position: relative;
  }
  #drag p {
    font-weight: 400;
    font-size: medium;
  }

  .checked{
    background-color: green;
  }


  .btn_alterar_exercicio{
    position: absolute;
    font-size: 60px;
    font-weight: bolder;
    top: 43%;
    cursor: pointer;
    user-select: none;
    right: 2%;
  }

  /* .anterior{
    left: 2%;
  } */
  /* .proximo{
    right: 2%;
  } */

  .bloqueado{
    color: rgb(72, 72, 72);
    cursor: not-allowed;
  }

  .invisivel{
    display: none;
  }

  .vitoria h3{
    text-align: center;
  }