.code-line {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: rgb(45, 45, 45);
    box-sizing: border-box;
    align-items: flex-start;
  }
  
  .dragbox {
    display: contents;
  }
  
  .code-block {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    user-select: none;
    font-weight: bolder;
  }
  
  .dragging {
    opacity: 0.5;
  }
  
  .correct {
    background-color: green;
  }
  
  .placeholder {
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  
  #drag h2 {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #drag{
    padding-top: 5%;
  }