body{
    background-color: rgb(255, 255, 145);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
    width: 90vw;
    margin: 10% 0;
}

section{
    width: 80vw;
    padding: 6%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 69);
    border-radius: 30px;
}

article {
    width: 90%;
    box-sizing: border-box;
    padding: 2.5% 5%;
}

body{
    font-family: sans-serif;
}
h1,h2{
    font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;
    font-weight: normal;
    }
p,li{
    font-size: 1rem;
    line-height: 1.478976rem;
}
a{
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    position: sticky;
    background-color: #F7DF1E;
    width: 100%;
}

#JSimg{
    width: 5%;
}
#h1Header{
    padding-left: 40%;
    padding-right: 20%;
}

article pre{
    border: aliceblue;
    background-color: #2C2C2A;
    color: aliceblue;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

main>h2{
    margin-top: 10%;
}
.textoClique strong{
    color: blue;
}

#nao{
    margin-top: 0;
    width: 100%;
    text-align: center;
}