body{
    margin: 0;
    background-color: rgb(120, 125, 255);
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
    width: 100%;
    padding: 4% 20% ;
    box-sizing: border-box;
}

h1,h2,h3,h4{
    font-family: cursive;
    font-weight: normal;
    font-size: 1.5rem;
}

p,li{
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.778976rem;
}

article pre{
    border: aliceblue;
    background-color: #2C2C2A;
    color: aliceblue;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

section{
    width: 100%;
    box-sizing: border-box;
    padding: 10% 5%;
    border-radius: 20px;
    background-color: rgb(247,223,30);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 20px rgb(21, 21, 21) ;
}

header h1{
    display: inline;
    font-family: cursive;
    font-size: 40px;
    margin: 0;
}
header{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 1%;
    padding: 3%;
    background-color: rgb(247,223,30);
    box-shadow: 0 5px black;
}
header a{
    position: absolute;
    left: 2%;
    width: 6%;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: cursive;
}

footer h3{
    color: rgb(247,223,30);
}

footer a h3{
    color: black;
}
footer a {
    text-decoration: none;
}

footer div{
    font-size: 2rem;
}

