body{
    background-color: rgb(255, 255, 145);
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vh;
}

section{
    height: 80vh;
    width: 80vw;
    padding: 5%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 69);
    border-radius: 30px;
}

article {
    width: 100vw;
    box-sizing: border-box;
    padding: 5% 7.5%;
}

body{font-family: sans-serif;margin: 15%;}
h1,h2{font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif; font-weight: normal;}
p,li{font-size: 0.875rem; line-height:1.5714285 ;}
a{
    text-decoration: none;
}



.div-getelements1{
    pre{
    code{
    margin: 10px;
    padding: 8px;
    border-radius: 10px;
    background-color: #2C2C2A;
    }
}
    float: left;
    border-radius: 30px;
    color: aliceblue;
    display: inline-block;
}
.div-getelements2{
    overflow: hidden;
    width: 42%;
    padding: 10px;
    float: right;
    position: relative;
    background-color: #2C2C2A;
    border-radius: 20px;
    color: aliceblue;
    display: inline-block;
    bottom: 40px;
}
#campo-keyup{
    background-color: #2C2C2A;
    color: aliceblue;
    width: 30%;
}
#campo-keyup3{
    background-color: #2C2C2A;
    color: aliceblue;
    width: 30%;
}
.certa {
background-color: green;
}
.errado {
background-color: red;
}
.sintaxe{
    border: aliceblue ;
    background-color: #2C2C2A;
    color: aliceblue;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}